h1 {
  text-align: center;
  margin-top: 20px;
  font-size: clamp(2rem, 5vw, 4rem);
}
h4 {
  margin-top: 10px;
  text-align: center;
  font-size: clamp(1rem, 3vw, 2rem);
}
h2 {
  margin-top: 20px;
  text-align: left;
  font-size: clamp(1.5rem, 4vw, 3rem);
}
#imagenPortada {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.example-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
}
p {
  text-align: left;
  font-size: clamp(1rem, 3vw, 2rem);
}
.separator {
  margin-top: 20px;
}
.separator2 {
  margin-top: 20px;
}
form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}
.boton {
  display: block;
  text-align: right;
  float: right;
  background-color: white;
  color: #333;
  border: black solid 1px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
div {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin: 20px;
}
